@zbx:                   #E0F9D7;
@zbxTriggerPanelFG:     #080808;
@zbxTableBorder:        #101010;

.zbx-trigger-table {
  border-width: 2px;
  border-radius: 4px;
  border-color: @zbxTableBorder;
  thead {
    background-color: @grayDark;
    th {
      border-width: 2px;
      border-color: @zbxTableBorder;
    }
  }
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: darken(@zbx, 5%);
    }
    td {
      color: @zbxTriggerPanelFG;
      border-width: 2px;
      border-color: @zbxTableBorder;
      padding: 8px;
      a {
        color: @zbxTriggerPanelFG;
      }
      a > span {
        color: @zbxTriggerPanelFG;
      }
    }
  }
}

.zbx-table-ack {
  border-radius: 0px;
  border-width: 1px;
  thead {
    background-color: @grayDark;
    color: @grayLight;
    tr > th {
      border-radius: 0px;
      border-width: 1px;
    }
  }
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: darken(@zbx, 15%);
    }
    td {
      border-width: 1px;
    }
  }
}

.zbx-trigger-info {
  padding-right: 8px;
}

// Hover states for .zbx-trigger-table
.zbx-trigger-table tbody tr {
  &.success:hover > td {
    background-color: darken(@zbx, 5%);
  }
  &.error:hover > td {
    background-color: darken(@errorBackground, 5%);
  }
  &.warning:hover > td {
    background-color: darken(@warningBackground, 5%);
  }
  &.info:hover > td {
    background-color: darken(@infoBackground, 5%);
  }
}