<div class="editor-row">
  <h5>Select triggers</h5>
  <div class="section tight-form-container" style="margin-bottom: 20px">
    <div class="tight-form">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 80px">
          Group
        </li>
        <li>
          <input type="text" class="input-large tight-form-input"
            empty-to-null ng-model="trigger.group" valid-time-span
            ng-change="get_data()" ng-model-onblur>
        </li>
        <li class="tight-form-item" style="width: 50px">
          Host
        </li>
        <li>
          <input type="text" class="input-large tight-form-input last"
            empty-to-null ng-model="trigger.host" valid-time-span
            ng-change="get_data()" ng-model-onblur>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="tight-form">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 80px">
          Application
        </li>
        <li>
          <input type="text" class="input-large tight-form-input"
            empty-to-null ng-model="trigger.application" valid-time-span
            ng-change="get_data()" ng-model-onblur>
        </li>
        <li class="tight-form-item" style="width: 50px">
          Trigger
        </li>
        <li>
          <input type="text" class="input-large tight-form-input last" placeholder="trigger name"
            empty-to-null ng-model="trigger.name" valid-time-span
            ng-change="get_data()" ng-model-onblur>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Options</h5>
    <div class="tight-form-container" style="margin-bottom: 20px">
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">
            <strong>Acknowledged</strong>
          </li>
          <li>
            <select class="input-medium tight-form-input"
                    ng-model="panel.showTriggers"
                    ng-options="f for f in [
                      'all triggers',
                      'unacknowledged',
                      'acknowledged'
                    ]"
                    ng-change="refreshData()">
            </select>
          </li>
          <li class="tight-form-item" style="width: 12em">
            <strong>Limit triggers number to</strong>
          </li>
          <li>
            <input class="input-small tight-form-input last" type="number" ng-model="panel.limit" ng-model-onblur ng-change="get_data()">
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">
            <strong>Sort by</strong>
          </li>
          <li>
            <select class="input-medium tight-form-input"
                    ng-model="panel.sortTriggersBy"
                    ng-options="f.text for f in sortByFields track by f.value"
                    ng-change="refreshData()">
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">
            <strong>Show fields</strong>
          </li>
          <li class="tight-form-item">
            <label class="checkbox-label" for="panel.severityField">Severity</label>
            <input class="cr1" id="panel.severityField" type="checkbox" ng-model="panel.severityField" ng-checked="panel.severityField">
            <label for="panel.severityField" class="cr1"></label>
          </li>
          <li class="tight-form-item">
            <label class="checkbox-label" for="panel.lastChangeField">Last change</label>
            <input class="cr1" id="panel.lastChangeField" type="checkbox" ng-model="panel.lastChangeField" ng-checked="panel.lastChangeField">
            <label for="panel.lastChangeField" class="cr1"></label>
          </li>
          <li class="tight-form-item">
            <label class="checkbox-label" for="panel.ageField">Age</label>
            <input class="cr1" id="panel.ageField" type="checkbox" ng-model="panel.ageField" ng-checked="panel.ageField">
            <label for="panel.ageField" class="cr1"></label>
          </li>
          <li class="tight-form-item last">
            <label class="checkbox-label" for="panel.infoField">Info</label>
            <input class="cr1" id="panel.infoField" type="checkbox" ng-model="panel.infoField" ng-checked="panel.infoField">
            <label for="panel.infoField" class="cr1"></label>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <h5>Customize triggers severity and colors</h5>
    <div class="tight-form" ng-repeat="trigger in panel.triggerSeverity">
      <ul class="tight-form-list">
        <li class="tight-form-item" style="width: 10px">
          {{ trigger.priority }}
        </li>
        <li>
          <input type="text" class="tight-form-input input-medium" style="color: #101010"
            empty-to-null ng-model="trigger.severity" ng-style="{background:trigger.color}"
            ng-change="get_data()" ng-model-onblur>
        </li>
        <li>
          <input type="text" class="tight-form-input input-small"
            empty-to-null ng-model="trigger.color"
            ng-change="get_data()" ng-model-onblur>
        </li>
        <li class="tight-form-item" data-trigger-index="{{trigger.priority}}" style="width: 12px">
          <i class="pointer fa fa-circle trigger-color"
            ng-style="{color:trigger.color}"
            ng-click="openTriggerColorSelector($event)">&nbsp;</i>
        </li>
        <li class="tight-form-item last" style="width: 70px">
          <label class="checkbox-label" for="{{ 'trigger-show-' + $index }}">Show</label>
            <input class="cr1" ng-attr-id="{{ 'trigger-show-' + $index }}" type="checkbox"
              ng-model="trigger.show" ng-checked="trigger.show" ng-change="refreshData()">
            <label for="{{ 'trigger-show-' + $index }}" class="cr1"></label>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
